<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/5_maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
pd.options.display.float_format = '{:,.2f}'.format

In [11]:
%cd '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/'
!ls

/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db
london_merged.csv  Meteorite_Landings.csv  notas.csv

In [7]:
def path_file(name_file):
  return '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/{0}'.format(name_file)

In [8]:
path_file_read = path_file('london_merged.csv')
path_file_read

'/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/london_merged.csv'

In [20]:
df_london_bike = pd.read_csv(path_file_read)
df_london_bike.head()

             timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0  2015-01-04 00:00:00  182 3.00  ...        0.00        1.00    3.00
1  2015-01-04 01:00:00  138 3.00  ...        0.00        1.00    3.00
2  2015-01-04 02:00:00  134 2.50  ...        0.00        1.00    3.00
3  2015-01-04 03:00:00   72 2.00  ...        0.00        1.00    3.00
4  2015-01-04 04:00:00   47 2.00  ...        0.00        1.00    3.00

[5 rows x 10 columns]

In [21]:
df_london_bike.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [22]:
df_london_bike.convert_dtypes().dtypes

timestamp        string
cnt               Int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code      Int64
is_holiday        Int64
is_weekend        Int64
season            Int64
dtype: object

In [23]:
df_london_bike['timestamp'].head()

0    2015-01-04 00:00:00
1    2015-01-04 01:00:00
2    2015-01-04 02:00:00
3    2015-01-04 03:00:00
4    2015-01-04 04:00:00
Name: timestamp, dtype: object

In [34]:
# si el formato está en el correcto simplemente hacemos lo siguiente
# para hacer debe de estar en format '%Y-%m-%d %H:%M:%S'
pd.to_datetime(df_london_bike['timestamp'])

# pero si no entonces hacemos lo siguiente
pd.to_datetime(
    df_london_bike['timestamp'],
    errors = 'coerce',
    format = '%Y-%m-%d %H:%M:%S'
)

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

In [28]:
df_london_bike['timestamp'] = pd.to_datetime(
    df_london_bike['timestamp'],
    errors = 'coerce',
    format = '%Y-%m-%d %H:%M:%S'
)
df_london_bike.head()

            timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0 2015-01-04 00:00:00  182 3.00  ...        0.00        1.00    3.00
1 2015-01-04 01:00:00  138 3.00  ...        0.00        1.00    3.00
2 2015-01-04 02:00:00  134 2.50  ...        0.00        1.00    3.00
3 2015-01-04 03:00:00   72 2.00  ...        0.00        1.00    3.00
4 2015-01-04 04:00:00   47 2.00  ...        0.00        1.00    3.00

[5 rows x 10 columns]

In [32]:
df_london_bike.convert_dtypes().dtypes

timestamp       datetime64[ns]
cnt                      Int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code             Int64
is_holiday               Int64
is_weekend               Int64
season                   Int64
dtype: object

In [35]:
# creamos una nueva columna 'hora'
df_london_bike['hora'] = df_london_bike['timestamp'].dt.hour
df_london_bike['hora']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hora, Length: 17414, dtype: int64

In [36]:
# aliminamos la columna datetime ya que no nos sirve
df_london_bike.drop(columns = ['timestamp'], axis = 1)

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hora
0       182 3.00 2.00  93.00  ...        0.00        1.00    3.00     0
1       138 3.00 2.50  93.00  ...        0.00        1.00    3.00     1
2       134 2.50 2.50  96.50  ...        0.00        1.00    3.00     2
3        72 2.00 2.00 100.00  ...        0.00        1.00    3.00     3
4        47 2.00 0.00  93.00  ...        0.00        1.00    3.00     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042 5.00 1.00  81.00  ...        0.00        0.00    3.00    19
17410   541 5.00 1.00  81.00  ...        0.00        0.00    3.00    20
17411   337 5.50 1.50  78.50  ...        0.00        0.00    3.00    21
17412   224 5.50 1.50  76.00  ...        0.00        0.00    3.00    22
17413   139 5.00 1.00  76.00  ...        0.00        0.00    3.00    23

[17414 rows x 10 columns]

In [37]:
df_london_bike.head()

            timestamp  cnt   t1   t2  ...  is_holiday  is_weekend  season  hora
0 2015-01-04 00:00:00  182 3.00 2.00  ...        0.00        1.00    3.00     0
1 2015-01-04 01:00:00  138 3.00 2.50  ...        0.00        1.00    3.00     1
2 2015-01-04 02:00:00  134 2.50 2.50  ...        0.00        1.00    3.00     2
3 2015-01-04 03:00:00   72 2.00 2.00  ...        0.00        1.00    3.00     3
4 2015-01-04 04:00:00   47 2.00 0.00  ...        0.00        1.00    3.00     4

[5 rows x 11 columns]

In [39]:
# otra forma de borrar la primera columna
df = df_london_bike.iloc[:,1:]

In [40]:
df.head()

   cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hora
0  182 3.00 2.00  93.00  ...        0.00        1.00    3.00     0
1  138 3.00 2.50  93.00  ...        0.00        1.00    3.00     1
2  134 2.50 2.50  96.50  ...        0.00        1.00    3.00     2
3   72 2.00 2.00 100.00  ...        0.00        1.00    3.00     3
4   47 2.00 0.00  93.00  ...        0.00        1.00    3.00     4

[5 rows x 10 columns]

In [43]:
# podemos hacer operaciones
df['wind_speed']**2+10
# podemos sacar el seno
np.sin(df['wind_speed']**2) + 10

0        9.01
1        9.87
2       10.00
3       10.00
4        9.01
         ...
17409   10.28
17410   10.92
17411    9.11
17412   10.94
17413   10.19
Name: wind_speed, Length: 17414, dtype: float64

In [44]:
# podemos realizar operaciones entre columnas
df['t1'] - df['t2']

0       1.00
1       0.50
2       0.00
3       0.00
4       2.00
        ...
17409   4.00
17410   4.00
17411   4.00
17412   4.00
17413   4.00
Length: 17414, dtype: float64

In [47]:
df['t1'].iloc[::3]

0       3.00
3       2.00
6       1.00
9       2.00
12      2.00
        ...
17400   3.00
17403   6.00
17406   6.00
17409   5.00
17412   5.50
Name: t1, Length: 5805, dtype: float64

In [48]:
type(df['t1'])

pandas.core.series.Series

In [49]:
df['t1'].iloc[::3] - df['t2']

0       1.00
1        nan
2        nan
3       0.00
4        nan
        ...
17409   4.00
17410    nan
17411    nan
17412   4.00
17413    nan
Length: 17414, dtype: float64

In [50]:
# hacemos una resta pero a los valores nan le cambia por 1000 y realiza la 
# operación con total normalidad
df['t1'].iloc[::3].sub(df['t2'], fill_value = 1000)

0           1.00
1         997.50
2         997.50
3           0.00
4       1,000.00
          ...
17409       4.00
17410     999.00
17411     998.50
17412       4.00
17413     999.00
Length: 17414, dtype: float64

> **+** add()
>
> **-** sub()
>
>  _*_ mul(), subtract()
> 
> **/** truediv(), div(), divide()
>
> **//** floordiv()
>
> **%** mod()
>
> _**_ pow()

In [51]:
df['t1']/df['t2']

0       1.50
1       1.20
2       1.00
3       1.00
4        inf
        ...
17409   5.00
17410   5.00
17411   3.67
17412   3.67
17413   5.00
Length: 17414, dtype: float64

En el producto punto no se saca raíz cuadrada pero en la norma si.

Solo para recordar.

- Producto punto es el producto escalar entre dos vectores.

- La norma de un vector es la raíz cuadrada de la suma de cada componente al cuadrado.

In [54]:
# producto punto
df['t1'].dot(df['t1'])

3247652.777777778

In [55]:
# la norma sería
np.sqrt(df['t1'].dot(df['t1']))

1802.12451783382