<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/5_maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
%cd '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/'
!ls

/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db
london_merged.csv  Meteorite_Landings.csv  notas.csv

In [4]:
def path_file(name_file):
  return '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/{0}'.format(name_file)

In [5]:
# https://www.kaggle.com/hmavrodiev/london-bike-sharing-dataset
path_file_read = path_file('london_merged.csv')
path_file_read

'/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/london_merged.csv'

In [6]:
df_london_bike = pd.read_csv(path_file_read)
df_london_bike.head()

             timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0  2015-01-04 00:00:00  182 3.00  ...        0.00        1.00    3.00
1  2015-01-04 01:00:00  138 3.00  ...        0.00        1.00    3.00
2  2015-01-04 02:00:00  134 2.50  ...        0.00        1.00    3.00
3  2015-01-04 03:00:00   72 2.00  ...        0.00        1.00    3.00
4  2015-01-04 04:00:00   47 2.00  ...        0.00        1.00    3.00

[5 rows x 10 columns]

In [7]:
df_london_bike.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [8]:
df_london_bike.convert_dtypes().dtypes

timestamp        string
cnt               Int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code      Int64
is_holiday        Int64
is_weekend        Int64
season            Int64
dtype: object

In [9]:
df_london_bike['timestamp'].head()

0    2015-01-04 00:00:00
1    2015-01-04 01:00:00
2    2015-01-04 02:00:00
3    2015-01-04 03:00:00
4    2015-01-04 04:00:00
Name: timestamp, dtype: object

In [10]:
# si el formato está en el correcto simplemente hacemos lo siguiente
# para hacer debe de estar en format '%Y-%m-%d %H:%M:%S'
pd.to_datetime(df_london_bike['timestamp'])

# pero si no entonces hacemos lo siguiente
pd.to_datetime(
    df_london_bike['timestamp'],
    errors = 'coerce',
    format = '%Y-%m-%d %H:%M:%S'
)

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

In [11]:
df_london_bike['timestamp'] = pd.to_datetime(
    df_london_bike['timestamp'],
    errors = 'coerce',
    format = '%Y-%m-%d %H:%M:%S'
)
df_london_bike.head()

            timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0 2015-01-04 00:00:00  182 3.00  ...        0.00        1.00    3.00
1 2015-01-04 01:00:00  138 3.00  ...        0.00        1.00    3.00
2 2015-01-04 02:00:00  134 2.50  ...        0.00        1.00    3.00
3 2015-01-04 03:00:00   72 2.00  ...        0.00        1.00    3.00
4 2015-01-04 04:00:00   47 2.00  ...        0.00        1.00    3.00

[5 rows x 10 columns]

In [12]:
df_london_bike.convert_dtypes().dtypes

timestamp       datetime64[ns]
cnt                      Int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code             Int64
is_holiday               Int64
is_weekend               Int64
season                   Int64
dtype: object

In [13]:
# creamos una nueva columna 'hora'
df_london_bike['hora'] = df_london_bike['timestamp'].dt.hour
df_london_bike['hora']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hora, Length: 17414, dtype: int64

In [14]:
# aliminamos la columna datetime ya que no nos sirve
df_london_bike.drop(columns = ['timestamp'], axis = 1)

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hora
0       182 3.00 2.00  93.00  ...        0.00        1.00    3.00     0
1       138 3.00 2.50  93.00  ...        0.00        1.00    3.00     1
2       134 2.50 2.50  96.50  ...        0.00        1.00    3.00     2
3        72 2.00 2.00 100.00  ...        0.00        1.00    3.00     3
4        47 2.00 0.00  93.00  ...        0.00        1.00    3.00     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042 5.00 1.00  81.00  ...        0.00        0.00    3.00    19
17410   541 5.00 1.00  81.00  ...        0.00        0.00    3.00    20
17411   337 5.50 1.50  78.50  ...        0.00        0.00    3.00    21
17412   224 5.50 1.50  76.00  ...        0.00        0.00    3.00    22
17413   139 5.00 1.00  76.00  ...        0.00        0.00    3.00    23

[17414 rows x 10 columns]

In [15]:
df_london_bike.head()

            timestamp  cnt   t1   t2  ...  is_holiday  is_weekend  season  hora
0 2015-01-04 00:00:00  182 3.00 2.00  ...        0.00        1.00    3.00     0
1 2015-01-04 01:00:00  138 3.00 2.50  ...        0.00        1.00    3.00     1
2 2015-01-04 02:00:00  134 2.50 2.50  ...        0.00        1.00    3.00     2
3 2015-01-04 03:00:00   72 2.00 2.00  ...        0.00        1.00    3.00     3
4 2015-01-04 04:00:00   47 2.00 0.00  ...        0.00        1.00    3.00     4

[5 rows x 11 columns]

In [16]:
# otra forma de borrar la primera columna
df = df_london_bike.iloc[:,1:]

In [17]:
df.head()

   cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hora
0  182 3.00 2.00  93.00  ...        0.00        1.00    3.00     0
1  138 3.00 2.50  93.00  ...        0.00        1.00    3.00     1
2  134 2.50 2.50  96.50  ...        0.00        1.00    3.00     2
3   72 2.00 2.00 100.00  ...        0.00        1.00    3.00     3
4   47 2.00 0.00  93.00  ...        0.00        1.00    3.00     4

[5 rows x 10 columns]

In [18]:
# podemos hacer operaciones
df['wind_speed']**2+10
# podemos sacar el seno
np.sin(df['wind_speed']**2) + 10

0        9.01
1        9.87
2       10.00
3       10.00
4        9.01
         ...
17409   10.28
17410   10.92
17411    9.11
17412   10.94
17413   10.19
Name: wind_speed, Length: 17414, dtype: float64

In [19]:
# podemos realizar operaciones entre columnas
df['t1'] - df['t2']

0       1.00
1       0.50
2       0.00
3       0.00
4       2.00
        ...
17409   4.00
17410   4.00
17411   4.00
17412   4.00
17413   4.00
Length: 17414, dtype: float64

In [20]:
df['t1'].iloc[::3]

0       3.00
3       2.00
6       1.00
9       2.00
12      2.00
        ...
17400   3.00
17403   6.00
17406   6.00
17409   5.00
17412   5.50
Name: t1, Length: 5805, dtype: float64

In [21]:
type(df['t1'])

pandas.core.series.Series

In [22]:
df['t1'].iloc[::3] - df['t2']

0       1.00
1        nan
2        nan
3       0.00
4        nan
        ...
17409   4.00
17410    nan
17411    nan
17412   4.00
17413    nan
Length: 17414, dtype: float64

In [23]:
# hacemos una resta pero a los valores nan le cambia por 1000 y realiza la 
# operación con total normalidad
df['t1'].iloc[::3].sub(df['t2'], fill_value = 1000)

0           1.00
1         997.50
2         997.50
3           0.00
4       1,000.00
          ...
17409       4.00
17410     999.00
17411     998.50
17412       4.00
17413     999.00
Length: 17414, dtype: float64

> **+** add()
>
> **-** sub()
>
>  _*_ mul(), subtract()
> 
> **/** truediv(), div(), divide()
>
> **//** floordiv()
>
> **%** mod()
>
> _**_ pow()

In [24]:
df['t1']/df['t2']

0       1.50
1       1.20
2       1.00
3       1.00
4        inf
        ...
17409   5.00
17410   5.00
17411   3.67
17412   3.67
17413   5.00
Length: 17414, dtype: float64

En el producto punto no se saca raíz cuadrada pero en la norma si.

Solo para recordar.

- Producto punto es el producto escalar entre dos vectores.

- La norma de un vector es la raíz cuadrada de la suma de cada componente al cuadrado.

In [25]:
# producto punto
df['t1'].dot(df['t1'])

3247652.777777778

In [26]:
# la norma sería
np.sqrt(df['t1'].dot(df['t1']))

1802.12451783382

In [28]:
df[['t1', 't2']].head()

    t1   t2
0 3.00 2.00
1 3.00 2.50
2 2.50 2.50
3 2.00 2.00
4 2.00 0.00

In [30]:
df['t1'].iloc[::3].add(df['t2'], fill_value = 1000).head()

0       5.00
1   1,002.50
2   1,002.50
3       4.00
4   1,000.00
dtype: float64

In [33]:
df['t1'].iloc[::3].mul(df['t2'], fill_value = 1000).head()

0       6.00
1   2,500.00
2   2,500.00
3       4.00
4       0.00
dtype: float64

In [35]:
df['t1'].iloc[::3].subtract(df['t2'], fill_value = 1000).head()

0       1.00
1     997.50
2     997.50
3       0.00
4   1,000.00
dtype: float64

In [36]:
(df['t1']/df['t2']).head()

0   1.50
1   1.20
2   1.00
3   1.00
4    inf
dtype: float64

In [40]:
df['t1'].truediv(df['t2'], fill_value = 1000).head()

0   1.50
1   1.20
2   1.00
3   1.00
4    inf
dtype: float64

In [41]:
df['t1'].div(df['t2']).head()

0   1.50
1   1.20
2   1.00
3   1.00
4    inf
dtype: float64

In [42]:
df['t1'].divide(df['t2']).head()

0   1.50
1   1.20
2   1.00
3   1.00
4    inf
dtype: float64

In [43]:
df['t1'].floordiv(df['t2']).head(5)

0   1.00
1   1.00
2   1.00
3   1.00
4    nan
dtype: float64

In [44]:
df['t1'].mod(df['t2']).head()

0   1.00
1   0.50
2   0.00
3   0.00
4    nan
dtype: float64

In [47]:
df[['t1', 't2']]

        t1   t2
0     3.00 2.00
1     3.00 2.50
2     2.50 2.50
3     2.00 2.00
4     2.00 0.00
...    ...  ...
17409 5.00 1.00
17410 5.00 1.00
17411 5.50 1.50
17412 5.50 1.50
17413 5.00 1.00

[17414 rows x 2 columns]

In [46]:
df['t1'].pow(df['t2']).head()

0    9.00
1   15.59
2    9.88
3    4.00
4    1.00
dtype: float64

**Funciones más complejas y uso de funciones lambdas**

In [57]:
def fun_1(x):
  y = x**2 + 2
  return y

In [49]:
fun_1(10)

101

In [52]:
np.arange(-5, 6)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [53]:
np.arange(-5, 6).shape

(11,)

In [54]:
fun_1(np.arange(-5, 6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

In [55]:
df['hora'].apply(fun_1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hora, Length: 17414, dtype: int64

In [59]:
def fun_2(x, a = 1, b = 0):
  y = x**2 + a*x + b
  return y

In [62]:
df['hora'].apply(fun_2, args = (20, -100))

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hora, Length: 17414, dtype: int64

In [65]:
df['hora'].apply(fun_2, a = 20, b = -100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hora, Length: 17414, dtype: int64

In [66]:
df['hora'].apply(lambda x: x**2 + 2)

0          2
1          3
2          6
3         11
4         18
        ...
17409    363
17410    402
17411    443
17412    486
17413    531
Name: hora, Length: 17414, dtype: int64

In [67]:
df['hora'].apply(lambda x,a,b: x**2 + x*a + b, a = 20, b = -100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hora, Length: 17414, dtype: int64

In [68]:
# calculando en el eje de las columnas
df.apply(lambda x: x.mean())

cnt            1,143.10
t1                12.47
t2                11.52
hum               72.32
wind_speed        15.91
weather_code       2.72
is_holiday         0.02
is_weekend         0.29
season             1.49
hora              11.51
dtype: float64

In [69]:
# ahora calculamos en el eje de las filas
df.apply(lambda x: x.mean(), axis = 1)

0        29.30
1        24.75
2        24.25
3        18.40
4        15.75
         ...
17409   117.30
17410    67.60
17411    47.45
17412    35.90
17413    27.10
Length: 17414, dtype: float64

In [70]:
# desviación estandar
df.apply(lambda x: x.std())

cnt            1,085.11
t1                 5.57
t2                 6.62
hum               14.31
wind_speed         7.89
weather_code       2.34
is_holiday         0.15
is_weekend         0.45
season             1.12
hora               6.92
dtype: float64

In [72]:
df.head()

   cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hora
0  182 3.00 2.00  93.00  ...        0.00        1.00    3.00     0
1  138 3.00 2.50  93.00  ...        0.00        1.00    3.00     1
2  134 2.50 2.50  96.50  ...        0.00        1.00    3.00     2
3   72 2.00 2.00 100.00  ...        0.00        1.00    3.00     3
4   47 2.00 0.00  93.00  ...        0.00        1.00    3.00     4

[5 rows x 10 columns]

In [75]:
# por filas
df.apply(lambda x: x['t1'] - x['t2'], axis = 1).head()

0   1.00
1   0.50
2   0.00
3   0.00
4   2.00
dtype: float64

In [71]:
# para aplicar a todo el data frame
df.applymap(lambda x: x/1000)

       cnt   t1   t2  hum  ...  is_holiday  is_weekend  season  hora
0     0.18 0.00 0.00 0.09  ...        0.00        0.00    0.00  0.00
1     0.14 0.00 0.00 0.09  ...        0.00        0.00    0.00  0.00
2     0.13 0.00 0.00 0.10  ...        0.00        0.00    0.00  0.00
3     0.07 0.00 0.00 0.10  ...        0.00        0.00    0.00  0.00
4     0.05 0.00 0.00 0.09  ...        0.00        0.00    0.00  0.00
...    ...  ...  ...  ...  ...         ...         ...     ...   ...
17409 1.04 0.01 0.00 0.08  ...        0.00        0.00    0.00  0.02
17410 0.54 0.01 0.00 0.08  ...        0.00        0.00    0.00  0.02
17411 0.34 0.01 0.00 0.08  ...        0.00        0.00    0.00  0.02
17412 0.22 0.01 0.00 0.08  ...        0.00        0.00    0.00  0.02
17413 0.14 0.01 0.00 0.08  ...        0.00        0.00    0.00  0.02

[17414 rows x 10 columns]