<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/9_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparamos nuestro lugar de trabajo

## Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/'
!ls

/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db
london_merged.csv  Meteorite_Landings.csv  notas.csv  population-worldbank

In [4]:
def path_file(name_file):
  return '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/{0}'.format(name_file)

## Librerías

In [6]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline
pd.__version__

'1.1.5'

In [7]:
pd.options.display.float_format = '{:,.2f}'.format

In [10]:
np.set_printoptions(precision = 2)

# Creación de Data Frames

In [13]:
df_left = pd.DataFrame(
    {
        'X': ['x0', 'x1', 'x2', 'x3'],
        'W': ['w0', 'w1', 'w2', 'w3'],
        'Y': ['y0', 'y1', 'y2', 'y3'],
        'Mix': ['y2', 'y3', 'a2', 'a3']
    },
    index = [0, 1, 2, 3]
)
df_left.head()

    X   W   Y Mix
0  x0  w0  y0  y2
1  x1  w1  y1  y3
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [14]:
df_right = pd.DataFrame(
    {'Z':['z2','z3','z4','z5'],
     'A':['a2','a3','a4','a5'],
     'Y':['y2','y3','y4','y5']},
    index = [2,3,4,5])

df_right.head()

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [16]:
pd.merge(df_left, df_right)

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [21]:
pd.merge(df_left, df_right, how = 'inner', on = 'Y')

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

# Para usar NA en lugar de NAN

Por que al sumar un número con un valor NAN, obtenemos como
respuesta el mismo NaN.

Pero NA, que es mucho más general pues, ademas de interactuar con números, tambien puede hacerlo con cadenas de texto u otras varaibles como las de tipo booleano.

In [23]:
pd.options.mode.use_inf_as_na = True

In [24]:
pd.NA + 'Hello World'

In [25]:
# Creamos un data frame
df = pd.DataFrame(np.arange(0,15).reshape(5,3), columns = ['a', 'b', 'c'])
df

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [27]:
df['d'] = np.nan
df

    a   b   c   d
0   0   1   2 nan
1   3   4   5 nan
2   6   7   8 nan
3   9  10  11 nan
4  12  13  14 nan

In [33]:
df['e'] = np.arange(15,20)
df

    a   b   c   d   e
0   0   1   2 nan  15
1   3   4   5 nan  16
2   6   7   8 nan  17
3   9  10  11 nan  18
4  12  13  14 nan  19

In [34]:
df.loc[5,:] = pd.NA
df

      a     b     c     d     e
0  0.00  1.00  2.00   NaN 15.00
1  3.00  4.00  5.00   NaN 16.00
2  6.00  7.00  8.00   NaN 17.00
3  9.00 10.00 11.00   NaN 18.00
4 12.00 13.00 14.00   NaN 19.00
5  <NA>  <NA>  <NA>  <NA>  <NA>

In [36]:
df.loc[4,'a'] = pd.NA
df

      a     b     c     d     e
0  0.00  1.00  2.00   NaN 15.00
1  3.00  4.00  5.00   NaN 16.00
2  6.00  7.00  8.00   NaN 17.00
3  9.00 10.00 11.00   NaN 18.00
4  <NA> 13.00 14.00   NaN 19.00
5  <NA>  <NA>  <NA>  <NA>  <NA>

In [37]:
df.loc[0,'d'] = 1
df

      a     b     c     d     e
0  0.00  1.00  2.00     1 15.00
1  3.00  4.00  5.00   NaN 16.00
2  6.00  7.00  8.00   NaN 17.00
3  9.00 10.00 11.00   NaN 18.00
4  <NA> 13.00 14.00   NaN 19.00
5  <NA>  <NA>  <NA>  <NA>  <NA>

In [38]:
df.loc[5,'d'] = 10
df

      a     b     c    d     e
0  0.00  1.00  2.00    1 15.00
1  3.00  4.00  5.00  NaN 16.00
2  6.00  7.00  8.00  NaN 17.00
3  9.00 10.00 11.00  NaN 18.00
4  <NA> 13.00 14.00  NaN 19.00
5  <NA>  <NA>  <NA>   10  <NA>

In [39]:
df

      a     b     c    d     e
0  0.00  1.00  2.00    1 15.00
1  3.00  4.00  5.00  NaN 16.00
2  6.00  7.00  8.00  NaN 17.00
3  9.00 10.00 11.00  NaN 18.00
4  <NA> 13.00 14.00  NaN 19.00
5  <NA>  <NA>  <NA>   10  <NA>

In [41]:
df.isnull()

       a      b      c      d      e
0  False  False  False  False  False
1  False  False  False   True  False
2  False  False  False   True  False
3  False  False  False   True  False
4   True  False  False   True  False
5   True   True   True  False   True

In [42]:
df.isna()

       a      b      c      d      e
0  False  False  False  False  False
1  False  False  False   True  False
2  False  False  False   True  False
3  False  False  False   True  False
4   True  False  False   True  False
5   True   True   True  False   True

In [45]:
# columnas con valores nulos
df.isnull().sum().to_frame()

   0
a  2
b  1
c  1
d  4
e  1

In [46]:
# filas con valores nulos
df.isnull().sum(axis = 1).to_frame()

   0
0  0
1  1
2  1
3  1
4  2
5  4

In [47]:
# cantidad de elementos nulos de nuestro dataframe
df.isnull().sum().sum()

9

In [48]:
# elementos no nulos de nuestro dataframe
df.size - df.isnull().sum().sum()

21

In [49]:
df.size

30

In [51]:
df

      a     b     c    d     e
0  0.00  1.00  2.00    1 15.00
1  3.00  4.00  5.00  NaN 16.00
2  6.00  7.00  8.00  NaN 17.00
3  9.00 10.00 11.00  NaN 18.00
4  <NA> 13.00 14.00  NaN 19.00
5  <NA>  <NA>  <NA>   10  <NA>

In [50]:
df[df['a'].notnull()]

     a     b     c    d     e
0 0.00  1.00  2.00    1 15.00
1 3.00  4.00  5.00  NaN 16.00
2 6.00  7.00  8.00  NaN 17.00
3 9.00 10.00 11.00  NaN 18.00

In [52]:
df.dropna()

     a    b    c  d     e
0 0.00 1.00 2.00  1 15.00

In [54]:
df.dropna(axis = 0)

     a    b    c  d     e
0 0.00 1.00 2.00  1 15.00

In [56]:
df[['a']].dropna()

     a
0 0.00
1 3.00
2 6.00
3 9.00

In [57]:
df.fillna(0)

     a     b     c   d     e
0 0.00  1.00  2.00   1 15.00
1 3.00  4.00  5.00   0 16.00
2 6.00  7.00  8.00   0 17.00
3 9.00 10.00 11.00   0 18.00
4 0.00 13.00 14.00   0 19.00
5 0.00  0.00  0.00  10  0.00

In [58]:
df

      a     b     c    d     e
0  0.00  1.00  2.00    1 15.00
1  3.00  4.00  5.00  NaN 16.00
2  6.00  7.00  8.00  NaN 17.00
3  9.00 10.00 11.00  NaN 18.00
4  <NA> 13.00 14.00  NaN 19.00
5  <NA>  <NA>  <NA>   10  <NA>

In [61]:
# llenamos con el valor previo
df.fillna(method = 'ffill')

     a     b     c   d     e
0 0.00  1.00  2.00   1 15.00
1 3.00  4.00  5.00   1 16.00
2 6.00  7.00  8.00   1 17.00
3 9.00 10.00 11.00   1 18.00
4 9.00 13.00 14.00   1 19.00
5 9.00 13.00 14.00  10 19.00

In [62]:
# llenamos con el valor siguiente
df.fillna(method = 'bfill')

      a     b     c   d     e
0  0.00  1.00  2.00   1 15.00
1  3.00  4.00  5.00  10 16.00
2  6.00  7.00  8.00  10 17.00
3  9.00 10.00 11.00  10 18.00
4  <NA> 13.00 14.00  10 19.00
5  <NA>  <NA>  <NA>  10  <NA>

In [63]:
df

      a     b     c    d     e
0  0.00  1.00  2.00    1 15.00
1  3.00  4.00  5.00  NaN 16.00
2  6.00  7.00  8.00  NaN 17.00
3  9.00 10.00 11.00  NaN 18.00
4  <NA> 13.00 14.00  NaN 19.00
5  <NA>  <NA>  <NA>   10  <NA>

In [64]:
# ahora llenamos con los valores previos de acuerdo a la columna
df.fillna(method = 'ffill', axis = 1)

      a     b     c     d     e
0  0.00  1.00  2.00  1.00 15.00
1  3.00  4.00  5.00  5.00 16.00
2  6.00  7.00  8.00  8.00 17.00
3  9.00 10.00 11.00 11.00 18.00
4  <NA> 13.00 14.00 14.00 19.00
5  <NA>  <NA>  <NA> 10.00 10.00

In [65]:
# llenamos con el valor siguiente en funcion a columna
df.fillna(method = 'bfill', axis = 1)

      a     b     c     d     e
0  0.00  1.00  2.00  1.00 15.00
1  3.00  4.00  5.00 16.00 16.00
2  6.00  7.00  8.00 17.00 17.00
3  9.00 10.00 11.00 18.00 18.00
4 13.00 13.00 14.00 19.00 19.00
5 10.00 10.00 10.00 10.00  <NA>

# Creamos una serie y reemplazamos

Tener en cuenta los índices

In [66]:
s1 = pd.Series([100, 101, 102])
s1

0    100
1    101
2    102
dtype: int64

In [67]:
df['d'] = df['d'].fillna(s1)
df

      a     b     c      d     e
0  0.00  1.00  2.00   1.00 15.00
1  3.00  4.00  5.00 101.00 16.00
2  6.00  7.00  8.00 102.00 17.00
3  9.00 10.00 11.00    nan 18.00
4  <NA> 13.00 14.00    nan 19.00
5  <NA>  <NA>  <NA>  10.00  <NA>

In [69]:
# una forma usual el reemplazar los valores nan con el promedio de las columnas
df.fillna(df.median())

     a     b     c      d     e
0 0.00  1.00  2.00   1.00 15.00
1 3.00  4.00  5.00 101.00 16.00
2 6.00  7.00  8.00 102.00 17.00
3 9.00 10.00 11.00  55.50 18.00
4 4.50 13.00 14.00  55.50 19.00
5 4.50  7.00  8.00  10.00 17.00

# Interpolando

In [71]:
df_d = pd.concat([df[['d']], df[['d']].interpolate()], axis = 1)
df_d.columns = ['d_antes', 'd_interpolado']
df_d

   d_antes  d_interpolado
0     1.00           1.00
1   101.00         101.00
2   102.00         102.00
3      nan          71.33
4      nan          40.67
5    10.00          10.00