<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/Accidentes_de_tr%C3%A1nsito_2020_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparamos nuestro entorno

## Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
%cd '/content/drive/My Drive/Data Science/Proyectos/Accidentes de Tránsito 2020-2021/'
!ls

/content/drive/My Drive/Data Science/Proyectos/Accidentes de Tránsito 2020-2021
'Accidentes de tránsito 2020-2021.ipynb'
 Accidentes_de_transito_en_carreteras-2020-2021-Sutran.csv

In [6]:
path_file = lambda name_file: '/content/drive/My Drive/Data Science/Proyectos/Accidentes de Tránsito 2020-2021/{}'.format(name_file)

## Librerías

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
pd.options.display.float_format = '{:,.3f}'.format

In [9]:
np.set_printoptions(precision = 3)

# Leemos nuestro Dataset

In [19]:
# creamos nuestro path_file_read
path_file_read = path_file('Accidentes_de_transito_en_carreteras-2020-2021-Sutran.csv')
path_file_read

'/content/drive/My Drive/Data Science/Proyectos/Accidentes de Tránsito 2020-2021/Accidentes_de_transito_en_carreteras-2020-2021-Sutran.csv'

In [31]:
# leemos a nuestro df
df = pd.read_csv(path_file_read, encoding='latin-1', sep = ';')
df

      FECHA_CORTE     FECHA   HORA  ... MODALIDAD FALLECIDOS HERIDOS
0        20211222  20200101  05:40  ...  DESPISTE          0       0
1        20211222  20200101  16:30  ...  DESPISTE          0       0
2        20211222  20200101  07:45  ...  DESPISTE          0       1
3        20211222  20200101  18:30  ...  DESPISTE          0       2
4        20211222  20200101  18:40  ...  DESPISTE          0       5
...           ...       ...    ...  ...       ...        ...     ...
8150     20211222  20210930  01:30  ...    CHOQUE          0       0
8151     20211222  20210930  04:00  ...    CHOQUE          0       0
8152     20211222  20210930  15:10  ...    CHOQUE          0       2
8153     20211222  20210930  02:50  ...  DESPISTE          0       0
8154     20211222  20210930  18:47  ...    CHOQUE          1       0

[8155 rows x 9 columns]

# Limpieza, estandarización, etc de Datos

In [32]:
df.dtypes

FECHA_CORTE      int64
FECHA            int64
HORA            object
DEPARTAMENTO    object
CODIGO_VÍA      object
KILOMETRO       object
MODALIDAD       object
FALLECIDOS      object
HERIDOS         object
dtype: object

In [33]:
df.describe()

         FECHA_CORTE          FECHA
count      8,155.000      8,155.000
mean  20,211,222.000 20,205,691.098
std            0.000      4,936.680
min   20,211,222.000 20,200,101.000
25%   20,211,222.000 20,200,728.000
50%   20,211,222.000 20,210,105.000
75%   20,211,222.000 20,210,530.000
max   20,211,222.000 20,210,930.000

In [35]:
df.describe(include = 'all')

          FECHA_CORTE          FECHA   HORA  ... MODALIDAD FALLECIDOS HERIDOS
count       8,155.000      8,155.000   8155  ...      8155       8155    8155
unique            NaN            NaN    596  ...         6         16      37
top               NaN            NaN  07:00  ...  DESPISTE          0       0
freq              NaN            NaN    126  ...      3829       7199    3452
mean   20,211,222.000 20,205,691.098    NaN  ...       NaN        NaN     NaN
std             0.000      4,936.680    NaN  ...       NaN        NaN     NaN
min    20,211,222.000 20,200,101.000    NaN  ...       NaN        NaN     NaN
25%    20,211,222.000 20,200,728.000    NaN  ...       NaN        NaN     NaN
50%    20,211,222.000 20,210,105.000    NaN  ...       NaN        NaN     NaN
75%    20,211,222.000 20,210,530.000    NaN  ...       NaN        NaN     NaN
max    20,211,222.000 20,210,930.000    NaN  ...       NaN        NaN     NaN

[11 rows x 9 columns]

In [38]:
df_null = df.isnull()
df_null

      FECHA_CORTE  FECHA   HORA  ...  MODALIDAD  FALLECIDOS  HERIDOS
0           False  False  False  ...      False       False    False
1           False  False  False  ...      False       False    False
2           False  False  False  ...      False       False    False
3           False  False  False  ...      False       False    False
4           False  False  False  ...      False       False    False
...           ...    ...    ...  ...        ...         ...      ...
8150        False  False  False  ...      False       False    False
8151        False  False  False  ...      False       False    False
8152        False  False  False  ...      False       False    False
8153        False  False  False  ...      False       False    False
8154        False  False  False  ...      False       False    False

[8155 rows x 9 columns]

In [41]:
for column in list(df):
  print(column)
  print(df_null[column].value_counts())
  print()

FECHA_CORTE
False    8155
Name: FECHA_CORTE, dtype: int64

FECHA
False    8155
Name: FECHA, dtype: int64

HORA
False    8155
Name: HORA, dtype: int64

DEPARTAMENTO
False    8155
Name: DEPARTAMENTO, dtype: int64

CODIGO_VÍA
False    8155
Name: CODIGO_VÍA, dtype: int64

KILOMETRO
False    8155
Name: KILOMETRO, dtype: int64

MODALIDAD
False    8155
Name: MODALIDAD, dtype: int64

FALLECIDOS
False    8155
Name: FALLECIDOS, dtype: int64

HERIDOS
False    8155
Name: HERIDOS, dtype: int64

In [49]:
df.convert_dtypes().dtypes

FECHA_CORTE      Int64
FECHA            Int64
HORA            string
DEPARTAMENTO    string
CODIGO_VÍA      string
KILOMETRO       string
MODALIDAD       string
FALLECIDOS      string
HERIDOS         string
dtype: object

In [58]:
# verificamos cuántos NO IDENTIFICADO hay que las columnas FALLECIDOS Y HERIDOS
list(df['FALLECIDOS']).count('N.I.')

3

In [59]:
list(df['HERIDOS']).count('N.I.')

10

In [89]:
df_2 = df.copy(deep = True)
df_2

      FECHA_CORTE     FECHA   HORA  ... MODALIDAD FALLECIDOS HERIDOS
0        20211222  20200101  05:40  ...  DESPISTE          0       0
1        20211222  20200101  16:30  ...  DESPISTE          0       0
2        20211222  20200101  07:45  ...  DESPISTE          0       1
3        20211222  20200101  18:30  ...  DESPISTE          0       2
4        20211222  20200101  18:40  ...  DESPISTE          0       5
...           ...       ...    ...  ...       ...        ...     ...
8150     20211222  20210930  01:30  ...    CHOQUE          0       0
8151     20211222  20210930  04:00  ...    CHOQUE          0       0
8152     20211222  20210930  15:10  ...    CHOQUE          0       2
8153     20211222  20210930  02:50  ...  DESPISTE          0       0
8154     20211222  20210930  18:47  ...    CHOQUE          1       0

[8155 rows x 9 columns]

In [90]:
df_2.replace('N.I.', np.nan, inplace = True)

In [91]:
df_2.dropna(inplace = True)

In [92]:
df_2

      FECHA_CORTE     FECHA   HORA  ... MODALIDAD FALLECIDOS HERIDOS
0        20211222  20200101  05:40  ...  DESPISTE          0       0
1        20211222  20200101  16:30  ...  DESPISTE          0       0
2        20211222  20200101  07:45  ...  DESPISTE          0       1
3        20211222  20200101  18:30  ...  DESPISTE          0       2
4        20211222  20200101  18:40  ...  DESPISTE          0       5
...           ...       ...    ...  ...       ...        ...     ...
8150     20211222  20210930  01:30  ...    CHOQUE          0       0
8151     20211222  20210930  04:00  ...    CHOQUE          0       0
8152     20211222  20210930  15:10  ...    CHOQUE          0       2
8153     20211222  20210930  02:50  ...  DESPISTE          0       0
8154     20211222  20210930  18:47  ...    CHOQUE          1       0

[7950 rows x 9 columns]

In [93]:
df_2[['FALLECIDOS', 'HERIDOS', 'KILOMETRO']] = df_2[['FALLECIDOS', 'HERIDOS', 'KILOMETRO']].astype(int)

In [94]:
df_2.dtypes

FECHA_CORTE      int64
FECHA            int64
HORA            object
DEPARTAMENTO    object
CODIGO_VÍA      object
KILOMETRO        int64
MODALIDAD       object
FALLECIDOS       int64
HERIDOS          int64
dtype: object

## Cambiamos las fechas a su respectivo formato ya que están en enteros

In [95]:
df_2

      FECHA_CORTE     FECHA   HORA  ... MODALIDAD FALLECIDOS  HERIDOS
0        20211222  20200101  05:40  ...  DESPISTE          0        0
1        20211222  20200101  16:30  ...  DESPISTE          0        0
2        20211222  20200101  07:45  ...  DESPISTE          0        1
3        20211222  20200101  18:30  ...  DESPISTE          0        2
4        20211222  20200101  18:40  ...  DESPISTE          0        5
...           ...       ...    ...  ...       ...        ...      ...
8150     20211222  20210930  01:30  ...    CHOQUE          0        0
8151     20211222  20210930  04:00  ...    CHOQUE          0        0
8152     20211222  20210930  15:10  ...    CHOQUE          0        2
8153     20211222  20210930  02:50  ...  DESPISTE          0        0
8154     20211222  20210930  18:47  ...    CHOQUE          1        0

[7950 rows x 9 columns]

In [96]:
df_2['FECHA'] = pd.to_datetime(df_2['FECHA'], format = '%Y%m%d')
df_2['FECHA_CORTE'] = pd.to_datetime(df_2['FECHA_CORTE'], format = '%Y%m%d')

In [97]:
df_2

     FECHA_CORTE      FECHA   HORA  ... MODALIDAD FALLECIDOS  HERIDOS
0     2021-12-22 2020-01-01  05:40  ...  DESPISTE          0        0
1     2021-12-22 2020-01-01  16:30  ...  DESPISTE          0        0
2     2021-12-22 2020-01-01  07:45  ...  DESPISTE          0        1
3     2021-12-22 2020-01-01  18:30  ...  DESPISTE          0        2
4     2021-12-22 2020-01-01  18:40  ...  DESPISTE          0        5
...          ...        ...    ...  ...       ...        ...      ...
8150  2021-12-22 2021-09-30  01:30  ...    CHOQUE          0        0
8151  2021-12-22 2021-09-30  04:00  ...    CHOQUE          0        0
8152  2021-12-22 2021-09-30  15:10  ...    CHOQUE          0        2
8153  2021-12-22 2021-09-30  02:50  ...  DESPISTE          0        0
8154  2021-12-22 2021-09-30  18:47  ...    CHOQUE          1        0

[7950 rows x 9 columns]

In [98]:
# La fecha lo convertimos a string para luego concatenar con la hora y crear
# una fecha con hora del accidente general
df_2['FECHA'] = df_2['FECHA'].dt.strftime('%d/%m/%Y/')

In [99]:
df_2

     FECHA_CORTE        FECHA   HORA  ... MODALIDAD FALLECIDOS  HERIDOS
0     2021-12-22  01/01/2020/  05:40  ...  DESPISTE          0        0
1     2021-12-22  01/01/2020/  16:30  ...  DESPISTE          0        0
2     2021-12-22  01/01/2020/  07:45  ...  DESPISTE          0        1
3     2021-12-22  01/01/2020/  18:30  ...  DESPISTE          0        2
4     2021-12-22  01/01/2020/  18:40  ...  DESPISTE          0        5
...          ...          ...    ...  ...       ...        ...      ...
8150  2021-12-22  30/09/2021/  01:30  ...    CHOQUE          0        0
8151  2021-12-22  30/09/2021/  04:00  ...    CHOQUE          0        0
8152  2021-12-22  30/09/2021/  15:10  ...    CHOQUE          0        2
8153  2021-12-22  30/09/2021/  02:50  ...  DESPISTE          0        0
8154  2021-12-22  30/09/2021/  18:47  ...    CHOQUE          1        0

[7950 rows x 9 columns]

In [101]:
df_2['FECHA-ACCIDENTE'] = pd.to_datetime(df_2['FECHA']+df_2['HORA'], format = '%d/%m/%Y/%H:%M')

In [102]:
df_2

     FECHA_CORTE        FECHA   HORA  ... FALLECIDOS HERIDOS     FECHA-ACCIDENTE
0     2021-12-22  01/01/2020/  05:40  ...          0       0 2020-01-01 05:40:00
1     2021-12-22  01/01/2020/  16:30  ...          0       0 2020-01-01 16:30:00
2     2021-12-22  01/01/2020/  07:45  ...          0       1 2020-01-01 07:45:00
3     2021-12-22  01/01/2020/  18:30  ...          0       2 2020-01-01 18:30:00
4     2021-12-22  01/01/2020/  18:40  ...          0       5 2020-01-01 18:40:00
...          ...          ...    ...  ...        ...     ...                 ...
8150  2021-12-22  30/09/2021/  01:30  ...          0       0 2021-09-30 01:30:00
8151  2021-12-22  30/09/2021/  04:00  ...          0       0 2021-09-30 04:00:00
8152  2021-12-22  30/09/2021/  15:10  ...          0       2 2021-09-30 15:10:00
8153  2021-12-22  30/09/2021/  02:50  ...          0       0 2021-09-30 02:50:00
8154  2021-12-22  30/09/2021/  18:47  ...          1       0 2021-09-30 18:47:00

[7950 rows x 10 columns]

In [129]:
# También eliminamos la columna FECHA CORTE ya que es la fecha
# en la que nos dieron la información
df_2.drop(columns = 'FECHA_CORTE', inplace = True)

In [105]:
# Eliminamos la columna fecha ya que no nos servirá
df_2.drop(columns=['FECHA'], inplace = True)
df_2

     FECHA_CORTE   HORA   DEPARTAMENTO  ... FALLECIDOS  HERIDOS     FECHA-ACCIDENTE
0     2021-12-22  05:40           LIMA  ...          0        0 2020-01-01 05:40:00
1     2021-12-22  16:30      CAJAMARCA  ...          0        0 2020-01-01 16:30:00
2     2021-12-22  07:45          PASCO  ...          0        1 2020-01-01 07:45:00
3     2021-12-22  18:30      CAJAMARCA  ...          0        2 2020-01-01 18:30:00
4     2021-12-22  18:40           LIMA  ...          0        5 2020-01-01 18:40:00
...          ...    ...            ...  ...        ...      ...                 ...
8150  2021-12-22  01:30         ANCASH  ...          0        0 2021-09-30 01:30:00
8151  2021-12-22  04:00  MADRE DE DIOS  ...          0        0 2021-09-30 04:00:00
8152  2021-12-22  15:10    LA LIBERTAD  ...          0        2 2021-09-30 15:10:00
8153  2021-12-22  02:50     LAMBAYEQUE  ...          0        0 2021-09-30 02:50:00
8154  2021-12-22  18:47           PUNO  ...          1        0 2021-09-30 18:47:00

[7950 rows x 9 columns]

In [109]:
df_2['FECHA-ACCIDENTE'].dt.time

0       05:40:00
1       16:30:00
2       07:45:00
3       18:30:00
4       18:40:00
          ...
8150    01:30:00
8151    04:00:00
8152    15:10:00
8153    02:50:00
8154    18:47:00
Name: FECHA-ACCIDENTE, Length: 7950, dtype: object

In [110]:
# También eliminaremos la hora ya que ahora que lo pienso ya no nos sirve
# porque si queremos sacar la hora completa utilizamos df.time a la serie
df_2.drop(columns = 'HORA', inplace = True)
df_2

     FECHA_CORTE   DEPARTAMENTO  ... HERIDOS     FECHA-ACCIDENTE
0     2021-12-22           LIMA  ...       0 2020-01-01 05:40:00
1     2021-12-22      CAJAMARCA  ...       0 2020-01-01 16:30:00
2     2021-12-22          PASCO  ...       1 2020-01-01 07:45:00
3     2021-12-22      CAJAMARCA  ...       2 2020-01-01 18:30:00
4     2021-12-22           LIMA  ...       5 2020-01-01 18:40:00
...          ...            ...  ...     ...                 ...
8150  2021-12-22         ANCASH  ...       0 2021-09-30 01:30:00
8151  2021-12-22  MADRE DE DIOS  ...       0 2021-09-30 04:00:00
8152  2021-12-22    LA LIBERTAD  ...       2 2021-09-30 15:10:00
8153  2021-12-22     LAMBAYEQUE  ...       0 2021-09-30 02:50:00
8154  2021-12-22           PUNO  ...       0 2021-09-30 18:47:00

[7950 rows x 8 columns]

In [111]:
df_2.dtypes

FECHA_CORTE        datetime64[ns]
DEPARTAMENTO               object
CODIGO_VÍA                 object
KILOMETRO                   int64
MODALIDAD                  object
FALLECIDOS                  int64
HERIDOS                     int64
FECHA-ACCIDENTE    datetime64[ns]
dtype: object

In [112]:
df_2.convert_dtypes().dtypes

FECHA_CORTE        datetime64[ns]
DEPARTAMENTO               string
CODIGO_VÍA                 string
KILOMETRO                   Int64
MODALIDAD                  string
FALLECIDOS                  Int64
HERIDOS                     Int64
FECHA-ACCIDENTE    datetime64[ns]
dtype: object

In [113]:
df_2.describe(include = 'all')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

                FECHA_CORTE DEPARTAMENTO  ...   HERIDOS      FECHA-ACCIDENTE
count                  7950         7950  ... 7,950.000                 7950
unique                    1           28  ...       NaN                 7517
top     2021-12-22 00:00:00         LIMA  ...       NaN  2020-02-13 17:30:00
freq                   7950         1494  ...       NaN                    4
first   2021-12-22 00:00:00          NaN  ...       NaN  2020-01-01 02:30:00
last    2021-12-22 00:00:00          NaN  ...       NaN  2021-09-30 22:15:00
mean                    NaN          NaN  ...     1.304                  NaN
std                     NaN          NaN  ...     2.532                  NaN
min                     NaN          NaN  ...     0.000                  NaN
25%                     NaN          NaN  ...     0.000                  NaN
50%                     NaN          NaN  ...     1.000                  NaN
75%                     NaN          NaN  ...     2.000                  NaN
max                     NaN          NaN  ...    71.000                  NaN

[13 rows x 8 columns]

In [120]:
# verficamos que hay 28 departamentos pero en realidad en Perú solo hay 24
df_2['DEPARTAMENTO'].unique()

array(['LIMA', 'CAJAMARCA', 'PASCO', 'ICA', 'HUANUCO', 'PIURA',
       'AMAZONAS', 'AREQUIPA', 'LA LIBERTAD', 'MOQUEGUA', 'TACNA', 'PUNO',
       'JUNIN', 'ANCASH', 'APURIMAC', 'SAN MARTIN', 'MADRE DE DIOS',
       'LAMBAYEQUE', 'AYACUCHO', 'UCAYALI', 'HUANCAVELICA', 'CUSCO',
       'Puno', 'LORETO', 'Cusco', 'Arequipa', 'TUMBES', 'CALLAO'],
      dtype=object)

In [121]:
# nos damos cuenta que hay nombres en capitalize y upper(Cusco, Puno, Arequipa)
# también nos cuenta que CALLAO lo toma como departamento, lo dejamos así

# ahora cambiamos los departamentos capitalize a upper
df_2['DEPARTAMENTO'] = df_2['DEPARTAMENTO'].str.upper()

In [122]:
# verificamos que solo haya 25(24 departamentos y CALLAO)
df_2['DEPARTAMENTO'].unique()

array(['LIMA', 'CAJAMARCA', 'PASCO', 'ICA', 'HUANUCO', 'PIURA',
       'AMAZONAS', 'AREQUIPA', 'LA LIBERTAD', 'MOQUEGUA', 'TACNA', 'PUNO',
       'JUNIN', 'ANCASH', 'APURIMAC', 'SAN MARTIN', 'MADRE DE DIOS',
       'LAMBAYEQUE', 'AYACUCHO', 'UCAYALI', 'HUANCAVELICA', 'CUSCO',
       'LORETO', 'TUMBES', 'CALLAO'], dtype=object)

In [123]:
len(df_2['DEPARTAMENTO'].unique())

25

> Ahora sí ya están nuestros datos están listos para el análisis

## Vamos a guardar estos datos limpios

In [132]:
path_file_save = path_file('accidentes_transito_limpios.csv')
path_file_save

'/content/drive/My Drive/Data Science/Proyectos/Accidentes de Tránsito 2020-2021/accidentes_transito_limpios.csv'

In [133]:
# guardamos
df_2.to_csv(path_file_save, index = False)

# Análisis de nuestros datos

In [130]:
df_2

       DEPARTAMENTO CODIGO_VÍA  ...  HERIDOS     FECHA-ACCIDENTE
0              LIMA      PE-1S  ...        0 2020-01-01 05:40:00
1         CAJAMARCA      PE-3N  ...        0 2020-01-01 16:30:00
2             PASCO      PE-3N  ...        1 2020-01-01 07:45:00
3         CAJAMARCA      PE-08  ...        2 2020-01-01 18:30:00
4              LIMA      PE-1N  ...        5 2020-01-01 18:40:00
...             ...        ...  ...      ...                 ...
8150         ANCASH      PE-1N  ...        0 2021-09-30 01:30:00
8151  MADRE DE DIOS     PE-30C  ...        0 2021-09-30 04:00:00
8152    LA LIBERTAD      PE-1N  ...        2 2021-09-30 15:10:00
8153     LAMBAYEQUE      PE-1N  ...        0 2021-09-30 02:50:00
8154           PUNO      PE-3S  ...        0 2021-09-30 18:47:00

[7950 rows x 7 columns]

In [131]:
df_2.convert_dtypes().dtypes

DEPARTAMENTO               string
CODIGO_VÍA                 string
KILOMETRO                   Int64
MODALIDAD                  string
FALLECIDOS                  Int64
HERIDOS                     Int64
FECHA-ACCIDENTE    datetime64[ns]
dtype: object

## Continuaremos...