<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/Automobile_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PREPARAMOS NUESTRO ENTORNO

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
%cd '/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/'
!ls

/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset
 auto.csv  'Automobile Dataset.ipynb'

In [5]:
def path_file(file_name):
  return '/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/{0}'.format(file_name)

In [8]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [9]:
pd.options.display.float_format = '{:,.2f}'.format

# LEEMOS NUESTRO DATASET

In [6]:
path_read_file = path_file('auto.csv')
path_read_file

'/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/auto.csv'

In [12]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [13]:
df = pd.read_csv(path_read_file, names = headers)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [14]:
df.describe()

       symboling  wheel-base  length  ...  compression-ratio  city-mpg  highway-mpg
count     205.00      205.00  205.00  ...             205.00    205.00       205.00
mean        0.83       98.76  174.05  ...              10.14     25.22        30.75
std         1.25        6.02   12.34  ...               3.97      6.54         6.89
min        -2.00       86.60  141.10  ...               7.00     13.00        16.00
25%         0.00       94.50  166.30  ...               8.60     19.00        25.00
50%         1.00       97.00  173.20  ...               9.00     24.00        30.00
75%         2.00      102.40  183.10  ...               9.40     30.00        34.00
max         3.00      120.90  208.10  ...              23.00     49.00        54.00

[8 rows x 10 columns]

In [15]:
df.describe(include = 'all')

        symboling normalized-losses    make  ... city-mpg highway-mpg price
count      205.00               205     205  ...   205.00      205.00   205
unique        nan                52      22  ...      nan         nan   187
top           nan                 ?  toyota  ...      nan         nan     ?
freq          nan                41      32  ...      nan         nan     4
mean         0.83               NaN     NaN  ...    25.22       30.75   NaN
std          1.25               NaN     NaN  ...     6.54        6.89   NaN
min         -2.00               NaN     NaN  ...    13.00       16.00   NaN
25%          0.00               NaN     NaN  ...    19.00       25.00   NaN
50%          1.00               NaN     NaN  ...    24.00       30.00   NaN
75%          2.00               NaN     NaN  ...    30.00       34.00   NaN
max          3.00               NaN     NaN  ...    49.00       54.00   NaN

[11 rows x 26 columns]

# ESTUDIAMOS NUESTRO DATASET PARA HACER LA LIMPIEZA, ESTANDARIZACIÓN Y NORMALIZACIÓN

In [20]:
df.replace(['?', ' '],np.nan, inplace = True)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [23]:
df.shape

(205, 26)

In [32]:
# verificamos cuantos valores nan hay
df_missing_values = df.isnull()
df_missing_values.head()

   symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0      False               True  False  ...     False        False  False
1      False               True  False  ...     False        False  False
2      False               True  False  ...     False        False  False
3      False              False  False  ...     False        False  False
4      False              False  False  ...     False        False  False

[5 rows x 26 columns]

In [33]:
for column in df_missing_values:
  print(column)
  print(df_missing_values[column].value_counts())
  print()

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

Tenemos los siguientes campos con valores nulos:

1. normalized-losses: 41 valorse nan
2. num-of-doors: 2 valores nan
3. bore: 4 valores nan
4. stroke: 4 valores nan
5. horsepower: 2 valores nan
6. peak-rpm: 2 valores nan
7. price: 4 valores nan

In [31]:
# con esta instrucción verificamos si es numérica o categórica
df['num-of-doors'].sample(3)

146    four
76      two
22      two
Name: num-of-doors, dtype: object

Ahora separemos las variables y vemos qué hacer con cada uno(media, frecuencia)

Media(mean):
  - normalized-losses
  - bore
  - stroke
  - horsepower
  - peak-rpm

Frecuencia:
  - num-of-doors

Eliminación(Drop) Filas:
  - price

In [17]:
# drive wheels = ruedas motrices
df_wheels_counts = df['drive-wheels'].value_counts().to_frame()
df_wheels_counts.rename(columns = {'drive-wheels': 'value_counts'}, inplace = True)
df_wheels_counts

     value_counts
fwd           120
rwd            76
4wd             9

In [19]:
# body style = estilo de cuerpo
df_body_counts = df['body-style'].value_counts().to_frame()
df_body_counts.rename(columns = {'body-style': 'value_counts'}, inplace = True)
df_body_counts.sort_index()

             value_counts
convertible             6
hardtop                 8
hatchback              70
sedan                  96
wagon                  25