<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/Automobile_Dataset_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparamos nuestro entorno de trabajo

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
%cd '/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/'
!ls

/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset
 auto.csv			     automobile-with-names.csv
'Automobile Dataset.ipynb'	     auto-procesado.csv
'Automobile Dataset Parte 2.ipynb'

In [8]:
def path_file(name_file):
  return '/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/{0}'.format(name_file)

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.__version__

'1.1.5'

# Leemos nuestra data

In [10]:
path_read_file = path_file('auto-procesado.csv')
path_read_file

'/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/auto-procesado.csv'

In [11]:
df = pd.read_csv(path_read_file)
df.head()

   symboling  normalized-losses         make  ... horsepower-binned diesel gas
0          3                122  alfa-romero  ...               Low      0   1
1          3                122  alfa-romero  ...               Low      0   1
2          1                122  alfa-romero  ...            Medium      0   1
3          2                164         audi  ...               Low      0   1
4          2                164         audi  ...               Low      0   1

[5 rows x 28 columns]

In [13]:
df.shape

(201, 28)

In [14]:
df.describe()

        symboling  normalized-losses  ...      diesel         gas
count  201.000000          201.00000  ...  201.000000  201.000000
mean     0.840796          122.00000  ...    0.099502    0.900498
std      1.254802           31.99625  ...    0.300083    0.300083
min     -2.000000           65.00000  ...    0.000000    0.000000
25%      0.000000          101.00000  ...    0.000000    1.000000
50%      1.000000          122.00000  ...    0.000000    1.000000
75%      2.000000          137.00000  ...    0.000000    1.000000
max      3.000000          256.00000  ...    1.000000    1.000000

[8 rows x 18 columns]

In [16]:
df.describe(include = ['object'])

          make aspiration  ... fuel-system horsepower-binned
count      201        201  ...         201               201
unique      22          2  ...           8                 3
top     toyota        std  ...        mpfi               Low
freq        32        165  ...          92               153

[4 rows x 10 columns]

In [17]:
df.corr()

                   symboling  normalized-losses  ...    diesel       gas
symboling           1.000000           0.466264  ... -0.196735  0.196735
normalized-losses   0.466264           1.000000  ... -0.101546  0.101546
wheel-base         -0.535987          -0.056661  ...  0.307237 -0.307237
length             -0.365404           0.019424  ...  0.211187 -0.211187
width              -0.242423           0.086802  ...  0.244356 -0.244356
height             -0.550160          -0.373737  ...  0.281578 -0.281578
curb-weight        -0.233118           0.099404  ...  0.221046 -0.221046
engine-size        -0.110581           0.112360  ...  0.070779 -0.070779
bore               -0.140019          -0.029862  ...  0.054458 -0.054458
stroke             -0.008153           0.055045  ...  0.241064 -0.241064
compression-ratio  -0.182196          -0.114713  ...  0.985231 -0.985231
horsepower          0.075810           0.217300  ... -0.169030  0.169030
peak-rpm            0.279740           0.239543  ... -0.475812  0.475812
city-L/100km        0.066171           0.238567  ... -0.241282  0.241282
highway-L/100km    -0.029807           0.181189  ... -0.158091  0.158091
price              -0.082391           0.133999  ...  0.110326 -0.110326
diesel             -0.196735          -0.101546  ...  1.000000 -1.000000
gas                 0.196735           0.101546  ... -1.000000  1.000000

[18 rows x 18 columns]

# Empezamos a verificar qu variables nos servira para la prediccin