<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/Automobile_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PREPARAMOS NUESTRO ENTORNO

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd '/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/'
!ls

/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset
 auto.csv		     automobile-with-names.csv
'Automobile Dataset.ipynb'   auto-procesado.csv

In [3]:
def path_file(file_name):
  return '/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/{0}'.format(file_name)

In [68]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [5]:
pd.options.display.float_format = '{:,.2f}'.format

# LEEMOS NUESTRO DATASET

In [6]:
path_read_file = path_file('auto.csv')
path_read_file

'/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/auto.csv'

In [7]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [8]:
df = pd.read_csv(path_read_file, names = headers)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [9]:
df.describe()

       symboling  wheel-base  length  ...  compression-ratio  city-mpg  highway-mpg
count     205.00      205.00  205.00  ...             205.00    205.00       205.00
mean        0.83       98.76  174.05  ...              10.14     25.22        30.75
std         1.25        6.02   12.34  ...               3.97      6.54         6.89
min        -2.00       86.60  141.10  ...               7.00     13.00        16.00
25%         0.00       94.50  166.30  ...               8.60     19.00        25.00
50%         1.00       97.00  173.20  ...               9.00     24.00        30.00
75%         2.00      102.40  183.10  ...               9.40     30.00        34.00
max         3.00      120.90  208.10  ...              23.00     49.00        54.00

[8 rows x 10 columns]

In [33]:
df.describe(include = ['category', 'object'])

          make fuel-type aspiration  ... num-of-cylinders fuel-system horsepower
count      201       201        201  ...              201         201        201
unique      22         2          2  ...                7           8         59
top     toyota       gas        std  ...             four        mpfi         68
freq        32       181        165  ...              157          92         19

[4 rows x 11 columns]

In [10]:
df.describe(include = 'all')

        symboling normalized-losses    make  ... city-mpg highway-mpg price
count      205.00               205     205  ...   205.00      205.00   205
unique        nan                52      22  ...      nan         nan   187
top           nan                 ?  toyota  ...      nan         nan     ?
freq          nan                41      32  ...      nan         nan     4
mean         0.83               NaN     NaN  ...    25.22       30.75   NaN
std          1.25               NaN     NaN  ...     6.54        6.89   NaN
min         -2.00               NaN     NaN  ...    13.00       16.00   NaN
25%          0.00               NaN     NaN  ...    19.00       25.00   NaN
50%          1.00               NaN     NaN  ...    24.00       30.00   NaN
75%          2.00               NaN     NaN  ...    30.00       34.00   NaN
max          3.00               NaN     NaN  ...    49.00       54.00   NaN

[11 rows x 26 columns]

# ESTUDIAMOS NUESTRO DATASET PARA HACER LA LIMPIEZA, ESTANDARIZACIÓN Y NORMALIZACIÓN

In [11]:
df.replace(['?', ' '],np.nan, inplace = True)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [12]:
df.shape

(205, 26)

In [13]:
# verificamos cuantos valores nan hay
df_missing_values = df.isnull()
df_missing_values.head()

   symboling  normalized-losses   make  ...  city-mpg  highway-mpg  price
0      False               True  False  ...     False        False  False
1      False               True  False  ...     False        False  False
2      False               True  False  ...     False        False  False
3      False              False  False  ...     False        False  False
4      False              False  False  ...     False        False  False

[5 rows x 26 columns]

In [14]:
for column in df_missing_values:
  print(column)
  print(df_missing_values[column].value_counts())
  print()

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

Tenemos los siguientes campos con valores nulos:

1. normalized-losses: 41 valorse nan
2. num-of-doors: 2 valores nan
3. bore: 4 valores nan
4. stroke: 4 valores nan
5. horsepower: 2 valores nan
6. peak-rpm: 2 valores nan
7. price: 4 valores nan

In [15]:
# con esta instrucción verificamos si es numérica o categórica
df['num-of-doors'].sample(3)

73    four
92    four
9      two
Name: num-of-doors, dtype: object

Ahora separemos las variables y vemos qué hacer con cada uno(media, frecuencia)

Media(mean):
  - normalized-losses
  - bore
  - stroke
  - horsepower
  - peak-rpm

Frecuencia:
  - num-of-doors

Eliminación(Drop) Filas:
  - price

## Iniciamos con la limpieza

In [16]:
# 'normalized-losses'
# convertimos a float y le decimos que saque 
avg_norm_loss = df['normalized-losses'].astype('float').mean(axis = 0)
df['normalized-losses'].replace(np.nan, avg_norm_loss, inplace = True)

In [17]:
# 'bore'
avg_bore = df['bore'].astype('float').mean(axis = 0)
df['bore'].replace(np.nan, avg_bore, inplace = True)

In [18]:
# 'stroke'
avg_stroke = df['stroke'].astype('float').mean(axis = 0)
df['stroke'].replace(np.nan, avg_stroke, inplace = True)

In [19]:
# horsepower
avg_horsepower = df['horsepower'].astype('float').mean(axis = 0)
df['horsepower'].replace(np.nan, avg_horsepower, inplace = True)

In [20]:
avg_peak_rpm = df['peak-rpm'].astype('float').mean(axis=0)
df['peak-rpm'].replace(np.nan, avg_peak_rpm, inplace = True)

In [21]:
# 'num-of-doors'
# primero sacamos la frecuencia
df['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [22]:
# ahora sacamos el valor máximo
df['num-of-doors'].value_counts().idxmax()

'four'

In [23]:
# ahora reemplazamos
df['num-of-doors'].replace(np.nan, 'four', inplace = True)

In [24]:
# 'price'
# ya que vamos a predecir el precio no nos sirve tener
# valores en la columna 'price' nulos ya que no nos sirve para nada
# por eso procedemos a eliminar las filas que tengan nan

# vamos a eliminar en todo el dataframe
# pero considerando los nan de la columna 'price' = subset(array)
df.dropna(subset=['price'], axis = 0, inplace = True)

# luego de eliminar filas los índices estarán desordenados
# así que tenemos que reiniciar índices
df.reset_index(drop = True, inplace = True)

### Verificamos si ya está todo sin valores nulos osea limpios

In [25]:
df.shape

(201, 26)

In [26]:
df_missing_values = df.isnull()

In [27]:
for column in df.columns:
  print(column)
  print(df_missing_values[column].value_counts())
  print()

symboling
False    201
Name: symboling, dtype: int64

normalized-losses
False    201
Name: normalized-losses, dtype: int64

make
False    201
Name: make, dtype: int64

fuel-type
False    201
Name: fuel-type, dtype: int64

aspiration
False    201
Name: aspiration, dtype: int64

num-of-doors
False    201
Name: num-of-doors, dtype: int64

body-style
False    201
Name: body-style, dtype: int64

drive-wheels
False    201
Name: drive-wheels, dtype: int64

engine-location
False    201
Name: engine-location, dtype: int64

wheel-base
False    201
Name: wheel-base, dtype: int64

length
False    201
Name: length, dtype: int64

width
False    201
Name: width, dtype: int64

height
False    201
Name: height, dtype: int64

curb-weight
False    201
Name: curb-weight, dtype: int64

engine-type
False    201
Name: engine-type, dtype: int64

num-of-cylinders
False    201
Name: num-of-cylinders, dtype: int64

engine-size
False    201
Name: engine-size, dtype: int64

fuel-system
False    201
Name: fuel-system, dtype: int64

bore
False    201
Name: bore, dtype: int64

stroke
False    201
Name: stroke, dtype: int64

compression-ratio
False    201
Name: compression-ratio, dtype: int64

horsepower
False    201
Name: horsepower, dtype: int64

peak-rpm
False    201
Name: peak-rpm, dtype: int64

city-mpg
False    201
Name: city-mpg, dtype: int64

highway-mpg
False    201
Name: highway-mpg, dtype: int64

price
False    201
Name: price, dtype: int64

## Ahora corregimos el formato o type de cada columna

In [28]:
df.sample(3)

    symboling normalized-losses   make  ... city-mpg highway-mpg  price
43          2            122.00  isuzu  ...       24          29  11048
31          1               101  honda  ...       38          42   5399
25          1               148  dodge  ...       31          38   7609

[3 rows x 26 columns]

In [29]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [51]:
df['horsepower'].sample(5)

123    207
152     70
121    145
177    156
16     182
Name: horsepower, dtype: object

In [52]:
df[['normalized-losses', 'horsepower']] = df[['normalized-losses', 'horsepower']].astype('int')
df[['bore', 'stroke', 'peak-rpm', 'price']] = df[['bore', 'stroke', 'peak-rpm', 'price']].astype('float')
df[['fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'engine-type']] = df[['fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'engine-type']].astype('category')

### Ahora verificamos si están en su mismo tipo

In [32]:
df.dtypes

symboling               int64
normalized-losses       int64
make                   object
fuel-type            category
aspiration           category
num-of-doors         category
body-style           category
drive-wheels         category
engine-location      category
wheel-base            float64
length                float64
width                 float64
height                float64
curb-weight             int64
engine-type          category
num-of-cylinders       object
engine-size             int64
fuel-system            object
bore                  float64
stroke                float64
compression-ratio     float64
horsepower             object
peak-rpm              float64
city-mpg                int64
highway-mpg             int64
price                 float64
dtype: object

## Estandarizamos valores

In [34]:
df.sample(3)

     symboling  normalized-losses      make  ... city-mpg highway-mpg     price
23           1                148     dodge  ...       31          38  6,229.00
121          3                122  plymouth  ...       19          24 12,764.00
63           0                122     mazda  ...       31          39 18,344.00

[3 rows x 26 columns]

**Transformar mpg to L/100km:**

En nuestro conjunto de datos, las columnas de consumo de combustible "mpg en ciuda(city)" y "mpg en carretera(highesay)" están representadas por unidades de mpg (millas por galón). Supongamos que estamos desarrollando una aplicación en un país que acepta el consumo de combustible con el estándar L / 100km.

Tendremos que aplicar la transformación de datos para transformar mpg en L / 100km.

La fórmula para la conversión de unidades es:

- L/100km = 235 / mpg

In [35]:
# aplicamos la fórmula
df['city-mpg'] = 235 / df['city-mpg']
df['highway-mpg'] = 235 / df['highway-mpg']

# cambiamos el nombre de la columna
df.rename(columns = {'city-mpg': 'city-L/100km', 'highway-mpg': 'highway-L/100km'}, inplace = True)

### Verificamos si logramos estandarizar todo

In [36]:
df.sample(5)

     symboling  normalized-losses  ... highway-L/100km     price
154          0                 91  ...            6.53  7,898.00
90           1                103  ...            6.35  7,349.00
0            3                122  ...            8.70 13,495.00
7            1                122  ...            9.40 18,920.00
61           0                115  ...            7.34 11,245.00

[5 rows x 26 columns]

## Normalizamos algunas columnas

Vamos a normalizar las columnas "length", "width" y "height" en el rango [0,1].

In [37]:
df['length'] = df['length']/ df['length'].max()
df['width'] = df['width']/ df['width'].max()
df['height'] = df['height']/ df['height'].max()

### Ahora vemos si se normalizó correctamente

In [41]:
df[['length', 'width', 'height']].sample(5)

     length  width  height
88     0.79   0.89    0.91
129    0.90   0.92    0.94
185    0.77   0.89    0.93
39     0.84   0.87    0.90
10     0.85   0.90    0.91

# Categorizar variables numéricas = Binning

In [42]:
df['horsepower'].sample(5)

139     94
144     82
186     90
43      90
16     182
Name: horsepower, dtype: object

In [53]:
bins = np.linspace(df['horsepower'].min(), df['horsepower'].max(), 4)
bins

array([ 48.        , 119.33333333, 190.66666667, 262.        ])

In [54]:
group_names = ['Low', 'Medium', 'High']
group_names

['Low', 'Medium', 'High']

In [55]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins = bins, labels = group_names, include_lowest=True)
df.head()

   symboling  normalized-losses  ...     price horsepower-binned
0          3                122  ... 13,495.00               Low
1          3                122  ... 16,500.00               Low
2          1                122  ... 16,500.00            Medium
3          2                164  ... 13,950.00               Low
4          2                164  ... 17,450.00               Low

[5 rows x 27 columns]

# Cambiamos una variable categórica a numérica

In [57]:
df_dummy = pd.get_dummies(df['fuel-type'])
df_dummy.sample(5)

     diesel  gas
12        0    1
199       1    0
162       0    1
19        0    1
128       0    1

In [62]:
df = pd.concat([df, df_dummy], axis = 1)
df.sample(5)

     symboling  normalized-losses        make  ... horsepower-binned diesel gas
78           3                153  mitsubishi  ...               Low      0   1
143          0                 89      subaru  ...               Low      0   1
119          1                154    plymouth  ...               Low      0   1
59           0                115       mazda  ...               Low      0   1
95           2                168      nissan  ...               Low      0   1

[5 rows x 29 columns]

In [63]:
# ahora eliminamos la columna categórica ya que no nos sirve
df.drop('fuel-type', axis = 1, inplace = True)
df.sample(5)

     symboling  normalized-losses        make  ... horsepower-binned diesel gas
81           3                122  mitsubishi  ...            Medium      0   1
178          2                122  volkswagen  ...               Low      1   0
91           1                128      nissan  ...               Low      0   1
188          0                122  volkswagen  ...               Low      1   0
3            2                164        audi  ...               Low      0   1

[5 rows x 28 columns]

In [64]:
df.shape

(201, 28)

# Guardamos hasta dónde se encuentre nuestro dataframe

In [65]:
path_save_file = path_file('auto-procesado.csv')
path_save_file

'/content/drive/My Drive/Data Science/Proyectos/Automobile Dataset/auto-procesado.csv'

In [66]:
# guardamos
df.to_csv(path_save_file, sep = ',', index = False)

# PARA PRACTICAR Y SEGUIR EL VIDEO

In [ ]:
# drive wheels = ruedas motrices
df_wheels_counts = df['drive-wheels'].value_counts().to_frame()
df_wheels_counts.rename(columns = {'drive-wheels': 'value_counts'}, inplace = True)
df_wheels_counts

     value_counts
fwd           118
rwd            75
4wd             8

In [ ]:
# body style = estilo de cuerpo
df_body_counts = df['body-style'].value_counts().to_frame()
df_body_counts.rename(columns = {'body-style': 'value_counts'}, inplace = True)
df_body_counts.sort_index()

             value_counts
convertible             6
hardtop                 8
hatchback              70
sedan                  96
wagon                  25

In [ ]:
df[['drive-wheels', 'body-style', 'price']].groupby(['drive-wheels', 'body-style'], as_index = True).mean()

                             price
drive-wheels body-style
4wd          convertible       nan
             hardtop           nan
             hatchback    7,603.00
             sedan       12,647.33
             wagon        9,095.75
fwd          convertible 11,595.00
             hardtop      8,249.00
             hatchback    8,396.39
             sedan        9,811.80
             wagon        9,997.33
rwd          convertible 23,949.60
             hardtop     24,202.71
             hatchback   14,337.78
             sedan       21,711.83
             wagon       16,994.22

In [ ]:
df[['body-style', 'price']].groupby(['body-style'], as_index = False).mean()

    body-style     price
0  convertible 21,890.50
1      hardtop 22,208.50
2    hatchback  9,957.44
3        sedan 14,459.76
4        wagon 12,371.96

In [ ]:
df.corr()

                   symboling  normalized-losses  ...  highway-L/100km  price
symboling               1.00               0.47  ...            -0.03  -0.08
normalized-losses       0.47               1.00  ...             0.18   0.13
wheel-base             -0.54              -0.06  ...             0.58   0.58
length                 -0.37               0.02  ...             0.71   0.69
width                  -0.24               0.09  ...             0.74   0.75
height                 -0.55              -0.37  ...             0.08   0.14
curb-weight            -0.23               0.10  ...             0.84   0.83
engine-size            -0.11               0.11  ...             0.78   0.87
bore                   -0.14              -0.03  ...             0.56   0.54
stroke                 -0.01               0.06  ...             0.05   0.08
compression-ratio      -0.18              -0.11  ...            -0.22   0.07
peak-rpm                0.28               0.24  ...             0.02  -0.10
city-L/100km            0.07               0.24  ...             0.96   0.79
highway-L/100km        -0.03               0.18  ...             1.00   0.80
price                  -0.08               0.13  ...             0.80   1.00

[15 rows x 15 columns]