<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/duplicated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparamos nuestro lugar de trabajo

## Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/'
!ls

/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db
london_merged.csv  Meteorite_Landings.csv  notas.csv  population-worldbank

In [4]:
path_file = lambda name_file: '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/{}'.format(name_file)

In [5]:
path_file_read = path_file('notas.csv')
path_file_read

'/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/notas.csv'

## Librerías

In [6]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline
pd.__version__

'1.1.5'

In [7]:
pd.options.display.float_format = '{:,.2f}'.format

In [8]:
np.set_printoptions(precision=2)

# Empezamos a trabajar

In [13]:
df = pd.DataFrame(
    {
        'a': ['w']*4 + ['x']*3 + ['y']*2 + ['z'] + ['v'],
        'b': [1,1,1,1,2,2,2,3,3,4,5]
    }
)
df

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [18]:
df.duplicated().to_frame()

        0
0   False
1    True
2    True
3    True
4   False
5    True
6    True
7   False
8    True
9   False
10  False

In [20]:
df.duplicated(keep='first').to_frame()

        0
0   False
1    True
2    True
3    True
4   False
5    True
6    True
7   False
8    True
9   False
10  False

In [21]:
df.duplicated(keep='last').to_frame()

        0
0    True
1    True
2    True
3   False
4    True
5    True
6   False
7    True
8   False
9   False
10  False

In [24]:
# para seleccionar las filas que no duplicadas
df[~df.duplicated()]

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [25]:
# si quiero saber cuales son los registros duplicados
df.duplicated(keep = False)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
dtype: bool

In [26]:
# solo traer las filas que aparecen una sola vez
df[~df.duplicated(keep=False)]

    a  b
9   z  4
10  v  5

In [27]:
df

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [28]:
df.drop_duplicates()

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [29]:
# eliminaremos los duplicados basándonos en la columna a
df.drop_duplicates(['a'], keep = 'last')

    a  b
3   w  1
6   x  2
8   y  3
9   z  4
10  v  5