<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparamos el entorno de trabajo

## Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/'
!ls

/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db
london_merged.csv  Meteorite_Landings.csv  notas.csv  population-worldbank

In [4]:
path_file = lambda name_file: '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/{}'.format(name_file)

## Librerías

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.__version__

'1.1.5'

In [6]:
pd.options.display.float_format = '{:,.3f}'.format

In [7]:
np.set_printoptions(precision=3)

# Empezamos a trabajar

In [9]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0        16.990 1.010  Female     No   Sun  Dinner     2
1        10.340 1.660    Male     No   Sun  Dinner     3
2        21.010 3.500    Male     No   Sun  Dinner     3
3        23.680 3.310    Male     No   Sun  Dinner     2
4        24.590 3.610  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3
240      27.180 2.000  Female    Yes   Sat  Dinner     2
241      22.670 2.000    Male    Yes   Sat  Dinner     2
242      17.820 1.750    Male     No   Sat  Dinner     2
243      18.780 3.000  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [12]:
df.describe(include = 'all')

        total_bill     tip   sex smoker  day    time    size
count      244.000 244.000   244    244  244     244 244.000
unique         nan     nan     2      2    4       2     nan
top            nan     nan  Male     No  Sat  Dinner     nan
freq           nan     nan   157    151   87     176     nan
mean        19.786   2.998   NaN    NaN  NaN     NaN   2.570
std          8.902   1.384   NaN    NaN  NaN     NaN   0.951
min          3.070   1.000   NaN    NaN  NaN     NaN   1.000
25%         13.348   2.000   NaN    NaN  NaN     NaN   2.000
50%         17.795   2.900   NaN    NaN  NaN     NaN   2.000
75%         24.127   3.562   NaN    NaN  NaN     NaN   3.000
max         50.810  10.000   NaN    NaN  NaN     NaN   6.000

In [19]:
#df['day'].value_counts().idxmax()
df['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [21]:
# porcentaje
df['day'].value_counts() / df['day'].value_counts().sum() * 100

Sat    35.656
Sun    31.148
Thur   25.410
Fri     7.787
Name: day, dtype: float64

In [23]:
df.groupby(['sex']).mean()

        total_bill   tip  size
sex
Male        20.744 3.090 2.631
Female      18.057 2.833 2.460

In [25]:
df['prct_tip'] = df['tip'] / df['total_bill'] * 100
df

     total_bill   tip     sex smoker   day    time  size  prct_tip
0        16.990 1.010  Female     No   Sun  Dinner     2     5.945
1        10.340 1.660    Male     No   Sun  Dinner     3    16.054
2        21.010 3.500    Male     No   Sun  Dinner     3    16.659
3        23.680 3.310    Male     No   Sun  Dinner     2    13.978
4        24.590 3.610  Female     No   Sun  Dinner     4    14.681
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3    20.393
240      27.180 2.000  Female    Yes   Sat  Dinner     2     7.358
241      22.670 2.000    Male    Yes   Sat  Dinner     2     8.822
242      17.820 1.750    Male     No   Sat  Dinner     2     9.820
243      18.780 3.000  Female     No  Thur  Dinner     2    15.974

[244 rows x 8 columns]

In [27]:
df.groupby(['sex']).median()

        total_bill   tip  size  prct_tip
sex
Male        18.350 3.000     2    15.349
Female      16.400 2.750     2    15.558

In [30]:
df.groupby(['sex'])[['total_bill', 'prct_tip']].describe()

       total_bill                            ... prct_tip
            count   mean   std   min    25%  ...      min    25%    50%    75%    max
sex                                          ...
Male      157.000 20.744 9.246 7.250 14.000  ...    3.564 12.139 15.349 18.624 71.034
Female     87.000 18.057 8.009 3.070 12.750  ...    5.643 14.042 15.558 19.427 41.667

[2 rows x 16 columns]

In [31]:
def mean_eur2usd(x):
  return np.mean(x)*1.2

**apply** = Agregamos una función

**aggregate** = Agregamos una o más de una función

In [35]:
df.groupby(['sex'])[['total_bill', 'prct_tip']].apply(mean_eur2usd)

        total_bill  prct_tip
sex
Male        24.893    18.918
Female      21.668    19.979

In [39]:
df.groupby(['sex'])[['total_bill', 'prct_tip']].aggregate(mean_eur2usd)

        total_bill  prct_tip
sex
Male        24.893    18.918
Female      21.668    19.979

In [40]:
df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].apply(mean_eur2usd)

               total_bill  prct_tip
sex    time
Male   Lunch       21.658    19.930
       Dinner      25.754    18.649
Female Lunch       19.607    19.474
       Dinner      23.056    20.319

In [41]:
df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].apply(np.std)

               total_bill  prct_tip
sex    time
Male   Lunch        7.832     4.503
       Dinner       9.423     6.867
Female Lunch        7.393     3.437
       Dinner       8.123     6.279

In [42]:
df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].apply(lambda x: np.mean(x)*1.12)

               total_bill  prct_tip
sex    time
Male   Lunch       20.214    18.601
       Dinner      24.037    17.406
Female Lunch       18.300    18.176
       Dinner      21.519    18.964

In [45]:
df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].aggregate([np.mean, np.max])

              total_bill        prct_tip
                    mean   amax     mean   amax
sex    time
Male   Lunch      18.048 41.190   16.608 26.631
       Dinner     21.461 50.810   15.541 71.034
Female Lunch      16.339 43.110   16.228 25.931
       Dinner     19.213 44.300   16.932 41.667

In [47]:
dict_agg = {
    'tip': [min, max],
    'total_bill': [np.mean, mean_eur2usd]
}
dict_agg

{'tip': [<function min>, <function max>],
 'total_bill': [<function numpy.mean>, <function __main__.mean_eur2usd>]}

In [50]:
# aggregate = agg
df.groupby(['sex', 'time'])[['total_bill', 'tip']].agg(dict_agg)

                tip        total_bill
                min    max       mean mean_eur2usd
sex    time
Male   Lunch  1.440  6.700     18.048       21.658
       Dinner 1.000 10.000     21.461       25.754
Female Lunch  1.250  5.170     16.339       19.607
       Dinner 1.000  6.500     19.213       23.056

In [61]:
# filtro todas las facturas cuyo valor sea mayor a 20
def f_filter(x):
  return mean_eur2usd(x['total_bill'].mean()) > 20

In [59]:
# data frame eliminando las columnas donde el costo promedio de un plato sea menor a 20
df_filtered = df.groupby(['sex', 'time']).filter(f_filter)
df_filtered

     total_bill   tip     sex smoker   day    time  size  prct_tip
0        16.990 1.010  Female     No   Sun  Dinner     2     5.945
1        10.340 1.660    Male     No   Sun  Dinner     3    16.054
2        21.010 3.500    Male     No   Sun  Dinner     3    16.659
3        23.680 3.310    Male     No   Sun  Dinner     2    13.978
4        24.590 3.610  Female     No   Sun  Dinner     4    14.681
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3    20.393
240      27.180 2.000  Female    Yes   Sat  Dinner     2     7.358
241      22.670 2.000    Male    Yes   Sat  Dinner     2     8.822
242      17.820 1.750    Male     No   Sat  Dinner     2     9.820
243      18.780 3.000  Female     No  Thur  Dinner     2    15.974

[209 rows x 8 columns]

In [58]:
df_filtered.groupby(['sex', 'time']).count()

               total_bill     tip  smoker     day    size  prct_tip
sex    time
Male   Lunch       33.000  33.000  33.000  33.000  33.000    33.000
       Dinner     124.000 124.000 124.000 124.000 124.000   124.000
Female Lunch          nan     nan     nan     nan     nan       nan
       Dinner      52.000  52.000  52.000  52.000  52.000    52.000