<a href="https://colab.research.google.com/github/FernandoCallasaca/data_science_projects/blob/main/pandas_routine_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Links de los csv que trabajaremos

Temperature (°C) https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data#GlobalLandTemperaturesByCountry.csv

Topic https://data.worldbank.org/topic/climate-change

CO2 (kt) https://data.worldbank.org/indicator/EN.ATM.CO2E.KT

Forest (km2) https://data.worldbank.org/indicator/AG.LND.FRST.K2

Agricultura (km2) https://data.worldbank.org/indicator/AG.LND.AGRI.K2

Population (7mM) https://data.worldbank.org/indicator/SP.POP.TOTL

Electric power consumption (kWh per capita) https://data.worldbank.org/indicator/EG.USE.ELEC.KH.PC

# Preparamos nuestro entorno

## Drive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
%cd '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/climate-change/'
!ls

/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/climate-change
API_AG.LND.AGRI.K2_DS2_en_csv_v2_3472200.csv
API_AG.LND.FRST.K2_DS2_en_csv_v2_3470755.csv
API_EG.USE.ELEC.KH.PC_DS2_en_csv_v2_3475310.csv
API_EN.ATM.CO2E.KT_DS2_en_csv_v2_3470002.csv
API_SP.POP.TOTL_DS2_en_csv_v2_3469297.csv

In [7]:
path_file = lambda name_file: '/content/drive/My Drive/Data Science/Platzi/10. Curso de Manipulación y Análisis de datos con Pandas y Python/db/climate-change/{}'.format(name_file)

## Importamos Librerías

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.__version__

'1.1.5'

## Metodos de impresión pandas y numpy

In [11]:
pd.options.display.float_format = '{:,.3f}'.format

In [12]:
np.set_printoptions(precision = 3)

# Empezamos a leer nuestros dataset

In [22]:
# empezamos nuestros datos desde las fila número 2 ya que contiene
# descripción en cada csv
df_agri = pd.read_csv(path_file('API_AG.LND.AGRI.K2_DS2_en_csv_v2_3472200.csv'), header = 2)
df_fore = pd.read_csv(path_file('API_AG.LND.FRST.K2_DS2_en_csv_v2_3470755.csv'), header = 2)
df_elec = pd.read_csv(path_file('API_EG.USE.ELEC.KH.PC_DS2_en_csv_v2_3475310.csv'), header = 2)
df_co2e = pd.read_csv(path_file('API_EN.ATM.CO2E.KT_DS2_en_csv_v2_3470002.csv'), header = 2)
df_popu = pd.read_csv(path_file('API_SP.POP.TOTL_DS2_en_csv_v2_3469297.csv'), header = 2)

In [23]:
df_popu

                    Country Name Country Code  ...            2020 Unnamed: 65
0                          Aruba          ABW  ...     106,766.000         nan
1    Africa Eastern and Southern          AFE  ... 677,243,299.000         nan
2                    Afghanistan          AFG  ...  38,928,341.000         nan
3     Africa Western and Central          AFW  ... 458,803,476.000         nan
4                         Angola          AGO  ...  32,866,268.000         nan
..                           ...          ...  ...             ...         ...
261                       Kosovo          XKX  ...   1,775,378.000         nan
262                  Yemen, Rep.          YEM  ...  29,825,968.000         nan
263                 South Africa          ZAF  ...  59,308,690.000         nan
264                       Zambia          ZMB  ...  18,383,956.000         nan
265                     Zimbabwe          ZWE  ...  14,862,927.000         nan

[266 rows x 66 columns]

In [27]:
# creamos una lista desde un número al otro en str
list(map(str,range(1971, 2015)))

['1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014']

In [29]:
# ahora podemos hacer las columnas que queremos
cols = ['Country Name', 'Country Code'] + list(map(str,range(1971, 2015)))
cols[:5]

['Country Name', 'Country Code', '1971', '1972', '1973']

In [34]:
# verificamos si podemos traer nuestro dataframe con las columnas que necesitamos
df_agri.loc[:,cols]

                    Country Name Country Code  ...          2013          2014
0                          Aruba          ABW  ...        20.000        20.000
1    Africa Eastern and Southern          AFE  ... 6,477,782.400 6,497,055.300
2                    Afghanistan          AFG  ...   379,100.000   379,100.000
3     Africa Western and Central          AFW  ... 3,594,810.300 3,597,067.700
4                         Angola          AGO  ...   541,771.860   547,322.480
..                           ...          ...  ...           ...           ...
261                       Kosovo          XKX  ...           nan           nan
262                  Yemen, Rep.          YEM  ...   234,990.000   234,516.000
263                 South Africa          ZAF  ...   963,410.000   963,410.000
264                       Zambia          ZMB  ...   237,360.000   238,360.000
265                     Zimbabwe          ZWE  ...   162,000.000   162,000.000

[266 rows x 46 columns]

In [35]:
# queremos que nuestros años sean una serie
# para eso tenemos que usar la función melt
# y a ese dataframe renombramos sus nombres de columnas
df_agri.loc[:,cols].melt(id_vars = ['Country Name', 'Country Code']).rename(
    columns = {
    'variable': 'date',
    'Country Name': 'Country',
    'Country Code': 'name',
    'value': 'agriculture'
})

                           Country name  date   agriculture
0                            Aruba  ABW  1971        20.000
1      Africa Eastern and Southern  AFE  1971 5,360,170.000
2                      Afghanistan  AFG  1971   380,360.000
3       Africa Western and Central  AFW  1971 3,102,665.600
4                           Angola  AGO  1971   574,000.000
...                            ...  ...   ...           ...
11699                       Kosovo  XKX  2014           nan
11700                  Yemen, Rep.  YEM  2014   234,516.000
11701                 South Africa  ZAF  2014   963,410.000
11702                       Zambia  ZMB  2014   238,360.000
11703                     Zimbabwe  ZWE  2014   162,000.000

[11704 rows x 4 columns]

In [36]:
# Lo de arriba haríamos para los demás así que crearemos una función
# la ventaja de trabajar con set de datos de world bank
# es que todos tienen el mismo formato
# así que podemos aplicar este formato a todo el dataframe
def fun_df_format(df, name_column):
  return df.loc[:,cols].melt(id_vars = ['Country Name', 'Country Code']).rename(
    columns = {
    'variable': 'date',
    'Country Name': 'Country',
    'Country Code': 'name',
    'value': name_column})

In [37]:
df_agri = fun_df_format(df_agri, 'agriculture')
df_fore = fun_df_format(df_fore, 'forest')
df_elec = fun_df_format(df_elec, 'electricprod')
df_co2e = fun_df_format(df_co2e, 'co2')
df_popu = fun_df_format(df_popu, 'population')

In [38]:
# Trabajaremos con el csv del colab pandas_routine
# así que lo traemos
df_t_med = pd.read_csv(path_file('df_t_med.csv'))
df_t_med

           Country        year  temperature  date
0      Afghanistan  1970-12-31       15.471  1970
1      Afghanistan  1971-12-31       14.934  1971
2      Afghanistan  1972-12-31       13.873  1972
3      Afghanistan  1973-12-31       14.913  1973
4      Afghanistan  1974-12-31       13.616  1974
...            ...         ...          ...   ...
10687        Åland  2009-12-31        5.577  2009
10688        Åland  2010-12-31        4.755  2010
10689        Åland  2011-12-31        7.499  2011
10690        Åland  2012-12-31        6.254  2012
10691        Åland  2013-12-31        6.014  2013

[10692 rows x 4 columns]

In [40]:
df_popu

                           Country name  date      population
0                            Aruba  ABW  1971      59,442.000
1      Africa Eastern and Southern  AFE  1971 175,100,167.000
2                      Afghanistan  AFG  1971  11,475,450.000
3       Africa Western and Central  AFW  1971 123,184,308.000
4                           Angola  AGO  1971   6,041,239.000
...                            ...  ...   ...             ...
11699                       Kosovo  XKX  2014   1,812,771.000
11700                  Yemen, Rep.  YEM  2014  25,823,488.000
11701                 South Africa  ZAF  2014  54,544,184.000
11702                       Zambia  ZMB  2014  15,399,793.000
11703                     Zimbabwe  ZWE  2014  13,586,710.000

[11704 rows x 4 columns]

In [47]:
# Primero tenemos que cambiar los tipos de datos
df_agri['date'] = df_agri['date'].astype('float')
df_fore['date'] = df_fore['date'].astype('float')
df_elec['date'] = df_elec['date'].astype('float')
df_co2e['date'] = df_co2e['date'].astype('float')
df_popu['date'] = df_popu['date'].astype('float')

In [51]:
# como nuestros dataframes son muy parecidos lo que podemos
# hacer es juntar usando la función merge
df_merge = pd.merge(df_t_med[['Country', 'temperature', 'date']],
         df_popu, on = ['Country', 'date'], how = 'inner')
df_merge

          Country  temperature  date name     population
0     Afghanistan       14.934  1971  AFG 11,475,450.000
1     Afghanistan       13.873  1972  AFG 11,791,222.000
2     Afghanistan       14.913  1973  AFG 12,108,963.000
3     Afghanistan       13.616  1974  AFG 12,412,960.000
4     Afghanistan       13.513  1975  AFG 12,689,164.000
...           ...          ...   ...  ...            ...
7219     Zimbabwe       22.486  2009  ZWE 12,526,964.000
7220     Zimbabwe       23.304  2010  ZWE 12,697,728.000
7221     Zimbabwe       22.942  2011  ZWE 12,894,323.000
7222     Zimbabwe       23.046  2012  ZWE 13,115,149.000
7223     Zimbabwe       20.451  2013  ZWE 13,350,378.000

[7224 rows x 5 columns]

In [50]:
# ya que tenemos que juntas todas las df podemos crear una función
def fun_merge(df1, df2):
  return pd.merge(df1,
                  df2,
                  on = ['Country', 'date', 'name'],
                  how = 'inner')

In [52]:
# juntamos todo
df_merge = fun_merge(df_merge, df_agri)
df_merge = fun_merge(df_merge, df_fore)
df_merge = fun_merge(df_merge, df_elec)
df_merge = fun_merge(df_merge, df_co2e)

In [53]:
df_merge

          Country  temperature  date  ...      forest  electricprod        co2
0     Afghanistan       14.934  1971  ...         nan           nan  1,895.839
1     Afghanistan       13.873  1972  ...         nan           nan  1,532.806
2     Afghanistan       14.913  1973  ...         nan           nan  1,639.149
3     Afghanistan       13.616  1974  ...         nan           nan  1,917.841
4     Afghanistan       13.513  1975  ...         nan           nan  2,126.860
...           ...          ...   ...  ...         ...           ...        ...
7219     Zimbabwe       22.486  2009  ... 179,513.500       585.457  7,750.000
7220     Zimbabwe       23.304  2010  ... 179,052.800       606.644  9,810.000
7221     Zimbabwe       22.942  2011  ... 178,592.100       636.249 11,490.000
7222     Zimbabwe       23.046  2012  ... 178,131.400       608.762 12,110.000
7223     Zimbabwe       20.451  2013  ... 177,670.700       628.746 12,360.000

[7224 rows x 9 columns]

In [55]:
# eliminamos todos los valores nan
# según mi entender porque tenemos más del 60% valores nan
# eso implica que no nos conviene reemplzar los nan por algo
# ya que estaríamos modificando mucho nuestro dataset
df_merge.dropna()

       Country  temperature  date  ...      forest  electricprod        co2
62     Albania       13.449  1990  ...   7,888.000       552.252  6,050.000
63     Albania       11.588  1991  ...   7,868.500       418.454  4,110.000
64     Albania       13.585  1992  ...   7,849.000       453.644  2,240.000
65     Albania       13.650  1993  ...   7,829.500       536.364  2,070.000
66     Albania       13.239  1994  ...   7,810.000       596.408  2,140.000
...        ...          ...   ...  ...         ...           ...        ...
7219  Zimbabwe       22.486  2009  ... 179,513.500       585.457  7,750.000
7220  Zimbabwe       23.304  2010  ... 179,052.800       606.644  9,810.000
7221  Zimbabwe       22.942  2011  ... 178,592.100       636.249 11,490.000
7222  Zimbabwe       23.046  2012  ... 178,131.400       608.762 12,110.000
7223  Zimbabwe       20.451  2013  ... 177,670.700       628.746 12,360.000

[2750 rows x 9 columns]